body{
    background-color:  #ffffcc;
}
div.titulo {
  width: 30%;
  height: 20%;
  padding: 30px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #000099;

}
div.informacion{
width: 50%;
height: auto;
float: left;
padding-top: 30px;
padding-left: 5px;
}

h2 {
  text-align: center;
}
p.cita{
  font-style: italic;
}

div.imagenes{
  width: 40%;
  height: auto;
  padding-top: 30px;
  padding-left: 15px;
  margin-left: 50px;
  float: left;
}

div.detalles{
  clear: both;
  width: 50%;
  padding-top: 5%;

}
table{
  margin-left: 30%;

  border-style: solid;
}
