body{
    background-color:  #ffffcc;
}
.titulo {
  width: 30%;
  height: 20%;
  padding: 30px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #000099;

}
.informacion{
width: 50%;
height: auto;
float: left;
padding-top: 30px;
padding-left: 5px;
}

h2 {
  text-align: center;
}
.cita{
  font-style: italic;
}

.imagenes{
  width: 40%;
  height: auto;
  padding-top: 30px;
  padding-left: 15px;
  float: left;
}
