body{
    background-color:  #ffffcc;
}

h1{
    width: auto;
    height: 10%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    color: #000099;
}

h2{
    font-size: 30px;
    margin-top: 10%;
}
.contenedorImagen{
    margin-bottom: 5%;
    width: 30%;
    height: 30%;
    float: left;
}

.imagen{
    width:60%;
    height:60%;
   }

div.populares{
    clear: both;
}

footer{
    clear: both;
  	text-align: center;
  	color: black;
}
