body{
  background: grey;
}

.titulo{
    text-align: center;
}

.tablero{
    margin-top: 5%;
}
.tablero .carta{
    width: 25%;
    height: 40%;
    margin-bottom: 5%;
    float: left;
}

.resultados{
  clear: both;
  margin-top: 10%;
}
