body{
  background: grey;
  color: #710266;
}

.titulo{
    text-align: center;
    font-size: 30px;
}

h3{
    font-weight: bold;
}
.tablero{
    margin-top: 5%;
}
.tablero .carta{
    width: 20%;
    height: 30%;
    margin-bottom: 2%;
    float: left;
}

.tablero .carta .boton{
      padding-left: 5%;
}

.confirmar{
    clear: both;
  }
.resultados{
  color: white;
  font-weight: bold;
  margin-top: 3%;
}

th{
    font-size: 20px;
     color: #710266;
}
